remote_theme: "mmistakes/minimal-mistakes"

# --- URL Configuration (CRITICAL) ---
# url: "https://username.github.io"
url: "https://openimagelab.github.io" 

# baseurl: "/repo-name"
baseurl: "/Darktable" 

# --- Defaults ---
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: single
      toc: true
      toc_sticky: true
      toc_label: "Contents"
